.container {
  padding: 25px;
}

/* Estilo para o título */
h2 {
  text-align: center; /* Centraliza o título no meio */
  font-size: 2em; /* Aumenta o tamanho da fonte */
  color: #4caf50; /* Cor verde */
  font-weight: bold; /* Deixa o texto em negrito */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-transform: uppercase; /* Deixa o texto em maiúsculas */
}

/* Centralizando o conteúdo da seleção */
.selection-and-difference {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 20px; /* Adiciona espaço abaixo da seleção */
}

.crop-selection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens no centro */
  gap: 10px;
}

/* Estilo do input select */
#crop-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

#crop-select:focus {
  border-color: #4caf50; /* Verde quando focado */
  outline: none;
}

/* Estilo do botão */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50; /* Verde */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #45a049; /* Muda cor ao passar o mouse */
  transform: translateY(-3px); /* Leve elevação */
}

button:active {
  transform: translateY(0); /* Volta ao normal quando clicado */
}

/* Para dispositivos móveis ou telas menores */
@media (max-width: 600px) {
  #crop-select, button {
    width: 100%; /* Full width para melhorar a usabilidade */
  }
}



.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}


.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card3 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.5em;
}

.card p {
  font-size: 1.2em;
  color: #555;
}

.card-img {
  max-width: 60px;
  margin-left: 15px;
}



@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: column;
  }

  .card img {
    margin-left: 0;
    margin-top: 10px;
  }

  .selection-and-difference {
    flex-direction: column;
  }
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}


